div {
    margin-top: 20px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;   
    padding: 30px;
    background-color: lightgrey;
    width: 90%;   
}

input {
    width: 100%;
    border-color: black; 
}

input[type=submit] {
    padding: 5px 15px;
    background: lightgreen;
    border: 0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 2em;
}

label {
    float: left;
    font-weight: bold;
}