nav, ul.navigation {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: lightgreen;
    border: width border-style color; 
    float: left;
    
}

ul.navigation {
    height: 100%;
    background-color: lightgreen;
    list-style-type: none;
    border: 2px solid black;
}

ul.navigation li {
    display: block;
    float: left;
    
    height: 100%;
    width: 33%;

    text-align: center;
    font-size: 2em;

    line-height: 50px;
    border-right: 2px solid black;
}

ul.navigation li:last-child {
    border-right: none;
}

a {
    display: block;
    color:black;
    text-decoration: none;
    padding: 8px 8px;   
}

a:hover {
    color:white;
    background-color: black;
}
